body {
    font-family: 'Abhaya Libre', serif;
    /* font-family: 'Taviraj', serif;
     font-family: 'Alegreya', serif;
    background-color: rgb(37, 37, 35);*/
    background-color: rgb(37, 37, 60);
    color: white;
}

#load {
    font-size: 4em;
}

p {
    font-size: 1.2em;
}

h1 {
    text-transform: uppercase;
    font-size: 4em;
}

#year-legend {
    margin-top: 0px;
}

.annotations path{
    fill: none;
    stroke: white;
}

.annotations text {
    font-size: 12.5px;
}

#arrow {
    fill: white;
    stroke: white;
}

.charts {
    margin-top: 50px;
}

.averages h4 {
    display: inline-block;
}

.axis path,
.axis line {
    stroke: none;
    fill: none;
}

text {
    fill: white;
    stroke: none;
}

circle {
    opacity: .85;
}


text.label {
    font-size: 85%;
    stroke: none;
}

.opaque {
    opacity: 0;
}

.legendCells circle {
    fill: none;
    stroke: white;
    stroke-width: 2;
}

.lower {
    margin-top: 35px;
}

div svg {
    display: block;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid lightgray;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip ul {
    list-style-type: none;
    padding: 1% 0 1% 3%;
}

.map path{
    fill: white;
    opacity: 0.2;
    stroke: white;
    stroke-width: 1.5;
}

a, a:visited, a:hover {
    color: orange;
}

footer {
    margin-top: 25px;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline;
    margin-left: 25px;
    font-size: 1.4em;
}

.subfooter {
    margin-top: 50px;
    margin-bottom: 25px;
}